.footer-center {

  background-color: $gray-lighter;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  width: 100%;

  .footer-orbiagro {

    font-weight: bold;
  }

  .footer-enlaces {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

}
