@import 'bootstrap';
@import 'variables';

@import '404';
@import 'home/main';
@import 'feature/main';
@import 'product/main';
@import 'category/main';
@import 'user/main';

@import 'vendor/bower_components/slick.js/slick/slick';
@import 'vendor/bower_components/slick.js/slick/slick-theme';

// fontawesome

.fa-128px {
  font-size: 128px;
}

.fa-300px {
  font-size: 300px;
}

.fa-500px {
  font-size: 500px;
}

.fa-100 {
  font-size: 100%;
}
