.slider-sync {

  .slider-for {
    img {
      margin: 10px;
      padding: 2%;
      position: relative;
    }
  }

  .slider-nav {
    img {
      padding: 2%;
    }
  }
}

.product-media {

  margin-bottom: 10px;
}
